[Desktop Entry]
Version=1.0
Type=Application
Name=watch fox
Comment=Mon application Flutter de gestion d'impression
Exec=/home/vodahmin/Documents/Code/dev_env/Watch_Fox/build/linux/x64/release/bundle/watch_fox
Path=/home/vodahmin/Documents/Code/dev_env/Watch_Fox/build/linux/x64/release/bundle/
Icon=/home/vodahmin/Documents/Code/dev_env/Watch_Fox/assets/background.png
Terminal=false
Categories=Utility;Application;
